<a href="https://colab.research.google.com/github/yoonhaK/NBA_Winner_Prediction/blob/master/data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using pandas read_html to Web Scrape Data

In [2]:
# list of years and url link that I want to scrape
years = [2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,
        2012,2013,2014,2015,2016,2017,2018,2019,2020,2021]
url_link = 'https://www.basketball-reference.com/leagues/NBA_{}_advanced.html'

urls = []
# Combining the URL + year strings together
for year in years:
  urls.append(url_link.format(year))
  #print(urls)

#print(urls)
len(urls)

21

## Read HTML webpage into pandas

In [3]:
# import pandas library
import pandas as pd

In [4]:
# create an empty list
df_list = []
# combine df with the list of data frames 
# read_html read html into list of data frames
for i in range(len(urls)):
  df_list.append(pd.read_html(urls[i],header = 0))

In [5]:
#to see how many list of data frames we have
len(df_list)

21

In [6]:
# to see how many data frames in each list
for i in range(len(urls)):
  print(len(df_list[i]))

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [7]:
df2001 = df_list[0][0]
df2001

      Rk               Player  Pos  Age  ...  OBPM  DBPM   BPM  VORP
0      1   Mahmoud Abdul-Rauf   PG   31  ...   1.1  -2.1  -1.0   0.1
1      2    Tariq Abdul-Wahad   SG   26  ...  -5.6  -0.3  -5.8  -0.4
2      3  Shareef Abdur-Rahim   SF   24  ...   1.7   0.1   1.8   3.1
3      4       Cory Alexander   PG   27  ...  -7.2   1.2  -6.0  -0.2
4      5   Courtney Alexander   PG   23  ...  -2.4  -1.9  -4.3  -0.8
..   ...                  ...  ...  ...  ...   ...   ...   ...   ...
554  438     Rubén Wolkowyski   PF   27  ...  -5.3  -0.6  -5.9  -0.3
555  439    Metta World Peace   SF   21  ...  -1.9   0.5  -1.3   0.4
556  440      Lorenzen Wright    C   25  ...  -1.0  -0.8  -1.8   0.1
557   Rk               Player  Pos  Age  ...  OBPM  DBPM   BPM  VORP
558  441          Wang Zhizhi    C   23  ...  -4.6  -4.2  -8.8  -0.1

[559 rows x 29 columns]

In [8]:
df2021 = df_list[20][0]
df2021

      Rk             Player Pos Age   Tm  ... Unnamed: 24   OBPM  DBPM    BPM  VORP
0      1   Precious Achiuwa  PF  21  MIA  ...         NaN   -2.5  -0.2   -2.7  -0.1
1      2       Jaylen Adams  PG  24  MIL  ...         NaN  -14.9  -5.0  -19.8  -0.1
2      3       Steven Adams   C  27  NOP  ...         NaN    0.1  -1.0   -0.9   0.3
3      4        Bam Adebayo   C  23  MIA  ...         NaN    2.6   1.8    4.4   1.8
4      5  LaMarcus Aldridge   C  35  SAS  ...         NaN   -0.2  -1.0   -1.2   0.1
..   ...                ...  ..  ..  ...  ...         ...    ...   ...    ...   ...
531  488       Delon Wright  SG  28  DET  ...         NaN    1.7   1.6    3.2   1.1
532  489     Thaddeus Young  PF  32  CHI  ...         NaN    1.8   1.7    3.4   1.0
533  490         Trae Young  PG  22  ATL  ...         NaN    5.6  -1.5    4.1   1.8
534  491        Cody Zeller   C  28  CHO  ...         NaN   -0.3   0.3    0.1   0.2
535  492        Ivica Zubac   C  23  LAC  ...         NaN    0.8  -0.2    0.6   0.5

[536 rows x 29 columns]

# Combine the Data Frames

First we change the list of list of data frames to a list of data frames.

In [9]:
df = []
for i in range(len(urls)):
  df.append(df_list[i][0])

In [10]:
len(df)

21

## Merge DataFrames
Use pd.concat to merge a list of DataFrame into a single big DataFrame.

In [11]:
df = pd.concat(df)
df

      Rk               Player Pos Age   Tm  ... Unnamed: 24  OBPM  DBPM   BPM  VORP
0      1   Mahmoud Abdul-Rauf  PG  31  VAN  ...         NaN   1.1  -2.1  -1.0   0.1
1      2    Tariq Abdul-Wahad  SG  26  DEN  ...         NaN  -5.6  -0.3  -5.8  -0.4
2      3  Shareef Abdur-Rahim  SF  24  VAN  ...         NaN   1.7   0.1   1.8   3.1
3      4       Cory Alexander  PG  27  ORL  ...         NaN  -7.2   1.2  -6.0  -0.2
4      5   Courtney Alexander  PG  23  TOT  ...         NaN  -2.4  -1.9  -4.3  -0.8
..   ...                  ...  ..  ..  ...  ...         ...   ...   ...   ...   ...
531  488         Delon Wright  SG  28  DET  ...         NaN   1.7   1.6   3.2   1.1
532  489       Thaddeus Young  PF  32  CHI  ...         NaN   1.8   1.7   3.4   1.0
533  490           Trae Young  PG  22  ATL  ...         NaN   5.6  -1.5   4.1   1.8
534  491          Cody Zeller   C  28  CHO  ...         NaN  -0.3   0.3   0.1   0.2
535  492          Ivica Zubac   C  23  LAC  ...         NaN   0.8  -0.2   0.6   0.5

[12727 rows x 29 columns]

In [12]:
len(df)

12727

In [13]:
df.to_csv('player_advanced_stats.csv', index = False)