# Data Cleaning

In [1]:
import pandas as pd
df = pd.read_csv('player_advanced_stats.csv')

Let's look at the data

In [2]:
df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Mahmoud Abdul-Rauf,PG,31,VAN,41,486,16.7,.514,.057,...,NaN,0.7,0.0,0.7,.070,NaN,1.1,-2.1,-1.0,0.1
1,2,Tariq Abdul-Wahad,SG,26,DEN,29,420,5.8,.438,.090,...,NaN,-0.7,0.3,-0.4,-0.049,NaN,-5.6,-0.3,-5.8,-0.4
2,3,Shareef Abdur-Rahim,SF,24,VAN,81,3241,19.1,.549,.050,...,NaN,5.6,2.9,8.5,.126,NaN,1.7,0.1,1.8,3.1
3,4,Cory Alexander,PG,27,ORL,26,227,6.3,.407,.286,...,NaN,-0.5,0.3,-0.1,-0.031,NaN,-7.2,1.2,-6.0,-0.2
4,5,Courtney Alexander,PG,23,TOT,65,1382,11.6,.484,.080,...,NaN,0.3,0.5,0.8,.027,NaN,-2.4,-1.9,-4.3,-0.8

In [3]:
df.shape

(12727, 29)

We can see that the table header is presented multiple times

In [4]:
df[df.Age == 'Age'].head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
22,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,NaN,OWS,DWS,WS,WS/48,NaN,OBPM,DBPM,BPM,VORP
47,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,NaN,OWS,DWS,WS,WS/48,NaN,OBPM,DBPM,BPM,VORP
72,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,NaN,OWS,DWS,WS,WS/48,NaN,OBPM,DBPM,BPM,VORP
101,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,NaN,OWS,DWS,WS,WS/48,NaN,OBPM,DBPM,BPM,VORP
128,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,NaN,OWS,DWS,WS,WS/48,NaN,OBPM,DBPM,BPM,VORP

In [5]:
len(df[df.Age == 'Age'])

484

## Remove multiple headers

In [6]:
df = df.drop(df[df.Age == 'Age'].index)

In [7]:
df.shape

(12243, 29)

## Remove Unamed Columns

We can see there are unnaamed columns with NaNs. These unnamed columns are actually the empty columns that doesn't contain any data

In [8]:
del df['Unnamed: 19']
del df['Unnamed: 24']

In [9]:
df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Mahmoud Abdul-Rauf,PG,31,VAN,41,486,16.7,.514,.057,...,9.1,26.8,0.7,0.0,0.7,.070,1.1,-2.1,-1.0,0.1
1,2,Tariq Abdul-Wahad,SG,26,DEN,29,420,5.8,.438,.090,...,21.1,17.1,-0.7,0.3,-0.4,-0.049,-5.6,-0.3,-5.8,-0.4
2,3,Shareef Abdur-Rahim,SF,24,VAN,81,3241,19.1,.549,.050,...,13.2,24.6,5.6,2.9,8.5,.126,1.7,0.1,1.8,3.1
3,4,Cory Alexander,PG,27,ORL,26,227,6.3,.407,.286,...,28.1,17.3,-0.5,0.3,-0.1,-0.031,-7.2,1.2,-6.0,-0.2
4,5,Courtney Alexander,PG,23,TOT,65,1382,11.6,.484,.080,...,10.5,23.2,0.3,0.5,0.8,.027,-2.4,-1.9,-4.3,-0.8

In [10]:
df.tail()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
12722,488,Delon Wright,SG,28,DET,29,848,17.0,.575,.311,...,11.5,15.6,1.6,0.9,2.5,.144,1.7,1.6,3.2,1.1
12723,489,Thaddeus Young,PF,32,CHI,30,760,20.7,.615,.080,...,16.0,19.7,1.8,1.0,2.7,.173,1.8,1.7,3.4,1.0
12724,490,Trae Young,PG,22,ATL,34,1182,22.9,.595,.369,...,16.5,32.7,3.4,0.6,4.1,.165,5.6,-1.5,4.1,1.8
12725,491,Cody Zeller,C,28,CHO,18,421,17.0,.556,.134,...,11.3,17.8,0.7,0.5,1.2,.137,-0.3,0.3,0.1,0.2
12726,492,Ivica Zubac,C,23,LAC,38,753,20.2,.707,.005,...,15.1,15.2,2.4,1.0,3.4,.217,0.8,-0.2,0.6,0.5

In [13]:
df.to_csv('player_stats_cleaned.csv', index = False)